@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    text-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
.bg {
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80') no-repeat center center/cover; /* shorthand background: img repeat position(position/repeat) */
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    position: absolute;
    z-index: -1;
    filter: blur(50px);
}
.text {
    font-size: 50px;
    color: white;
}