@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    text-align: center;
    align-content: center;
    height: 100vh;
    background-color: #e1e1e1;
}
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.box {
    background-color: white;
    margin: 10px;
    width: 200px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    text-align: center;
}
.bar {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: fit-content;
    padding: 10px 40px;
    margin: 0 auto;
}
p {
    font-size: 1.5rem;
    font-weight: bold;
}
small {
    color: #555;
    font-weight: bolder;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}