body {
    background-color: #fff;
}
header {
    text-align: center;
}
h1 {
    color: #337ab7;
}
#math {
    color: green;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.one {
    margin: 0 auto 10px auto;
    font-weight: bold;
    
}
#secToLast {
    list-style-type:none;
    font-size: 25px;
}
#lastLi {
    margin-top: 10px;
    list-style-type:none;
}
#lastOne {
    color: rgb(148,0,211);
    font-size: 25px;

}
a {
    font-style: italic;
    text-decoration: none;
}