@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    text-align: center;
    align-content: center;
    height: 100vh;
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}
* {
    box-sizing: border-box;
    border: 0;
}
.container {
    position: relative;
    width: 250px;
    margin: 0 auto;
}
button {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 24px;
    left: 100px;
    top: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
input[type="text"] {
    width: 50px;
    height: 50px;
    transition: width 0.4s ease;
    padding-left: 10px;
}
.textBox:focus, button:focus {
    outline: none;
}

.container.active > input[type="text"] {
    width: 200px;
    transition: width 0.4s ease;
}
.container.active > button {
    transform: translateX(125px);
    transition: transform 0.4s ease;
}
