@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
* {
    box-sizing: border-box;
}
.btn-ripple {
    background-color: purple;
    color: white;
    padding: 15px 20px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
.ripple {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    animation: ripple 0.5s ease;
}

@keyframes ripple {
    to {
        transform: translate(-50%, -50%) scale(7);
        opacity: 0;
    }
}