@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: slategray;
}
* {
    box-sizing: border-box;
}
.container {
    width: fit-content;
    margin: 0 auto;
}
.kinetic {
    position: relative;
    width: 80px;
    height: 80px;
}
.kinetic::after, .kinetic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: white;
    animation: rotateA 2s linear infinite 0.5s;
    transform: translate(-50%, -50%);
}
.kinetic::before {
    transform: translate(-50%, -50%) rotate(90deg);
    animation: rotateB 2s linear infinite;
}
@keyframes rotateA {
    0%,
    25% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50%, 75% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes rotateB {
    0%,
    25% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    50%, 75% {
        transform: translate(-50%, -50%) rotate(270deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(450deg);
    }
}